[Desktop Entry]
Name=PiBackup
Comment=Backup and Restore Tool
Exec=sudo /usr/lib/pibackup/pibackup
Icon=pibackup
Terminal=false
Type=Application
Categories=Utility;System;
